<!-- Footer -->
<footer class="page-footer bg-tomate font-small">
  <div class="bg-pri">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-3 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Síguenos en nuestras redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a
            class="fb-ic"
            href="https://www.facebook.com/ZooLogiccom-112259200503315"
            target="_blank"
          >
            <i class="fab fa-facebook-f white-text mr-4" style="color: white">
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4" style="color: white"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i
              class="fab fa-google-plus-g white-text mr-4"
              style="color: white"
            >
            </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4" style="color: white">
            </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text" style="color: white"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-4">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">ZOO LOGIC.COM</h6>
        <hr class="mt-0 d-inline-block mx-auto" />
        <p>
          Somos una empresa 100% Ecuatoriana, que brinda servicios y soluciones
          en tecnologías de la información, a la pequeña y mediana empresa,
          respaldado por personal capacitado.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Productos</h6>
        <hr class="mt-0 d-inline-block mx-auto" />
        <p>Accesorios PC</p>
        <p>Desarrollo Web/Móvil</p>
        <p>S. Técnico PC/Móvil</p>
        <p>Redes Locales</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Servicios</h6>
        <hr class="mt-0 d-inline-block mx-auto" style="width: 60px" />
        <p>
          <a routerLink="/home">Inicio</a>
        </p>
        <p>
          <a routerLink="/producto">Productos</a>
        </p>
        <p>
          <a routerLink="/registrarse">Registrate</a>
        </p>
        <p>
          <a routerLink="/contactanos">Contáctanos</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="mt-0 d-inline-block mx-auto" style="width: 60px" />
        <p><i class="fas fa-home mr-3"></i>Cuenca, Ecuador</p>
        <p><i class="fas fa-envelope mr-3"></i> zoologic@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 593 074 400 20</p>
        <p><i class="fab fa-whatsapp mr-3"></i> + 593 98 392 9452</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright bg-pri text-white text-center py-3">
    © 2020 Copyright: Zoo Logic.com
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
