.card-header {
  background: #76d610;
}

.card ul li:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.card-img-top {
  width: auto;
  height: 220px;
}

button:hover {
  background-color: white;
}
