.input-err-12 {
    color: rgb(237, 255, 71);
}

.shadow-lg {
    background-color: #34495E;
}

.text-center {
    color: white;
}

.control-label {
    color: white;
}

#button {
    background-color: #D68910;
}

.btn-link {
    color: #D68910;
}