<div class="container">
  <div class="row justify-content-center mt-4">
    <h3 class="text-uppercase font-weight-bold">Acerca de Nosotros</h3>
    <hr class="separador-pri w-100" />
    <p class="text-center">
      Somos una empresa 100% ecuatoriana, que brinda servicios y soluciones en
      tecnologías de la información, a la pequeña y mediana empresa, respaldado
      por personal capacitado.
    </p>
    <img
      class="img-fluid"
      src="../../../assets/img/acerca.jpg"
      alt="no hay imagen"
    />
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      <h4 class="text-center font-weight-bold">MISIÓN</h4>

      <p class="text-center">
        Ser una empresa de servicio de outsourcing en tecnologías de
        información, reconocida, con una cartera de clientes satisfechos, por
        haberles proporcionado un nivel total de satisfacción y responsabilidad
        en nuestro servicio.
      </p>
    </div>
    <div class="col-6">
      <h4 class="text-center font-weight-bold">VISIÓN</h4>
      <p class="text-center">
        Satisfacer plenamente las demandas, necesidades y expectativas de
        nuestros clientes, ofreciéndoles los mejores servicios y productos,
        brindándoles una atención personalizada con un servicio de excelencia.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <h4 class="text-center font-weight-bold">VALORES</h4>
      <p class="text-center">
        Honestidad, responsabilidad, trabajo en equipo, comprometidos,
        actualizados, honestos, eficientes, eficacesy respetuosos.
      </p>
    </div>
  </div>
</div>
