<div class="container mt-4">
  <div class="row justify-content-center">
    <h3 class="text-uppercase font-weight-bold">Contáctanos</h3>
    <hr class="separador-pri w-100" />
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <h6 class="text-uppercase font-weight-bold">Dirección:</h6>
        <p>
          Av. Mexico Y Av .De Las Americas <br />
          Edificio Americas (Segundo Piso) 3-45
        </p>

        <h6 class="text-uppercase font-weight-bold">horarios de atencion:</h6>
        <p>
          Lun – Vie: 9:30am – 1:00pm / 2:30pm – 6:00pm <br />
          Sabados: 9:30am – 1:00pm
        </p>
        <h6 class="text-uppercase font-weight-bold">telefonos:</h6>

        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=59398 392 9452&text=Hola,%20¿ZooLogic%20necesito%20información?"
        >
          <p>
            <img
              class="img-fluid"
              src="../../../assets/img/what.png"
              style="width: 60px; height: 50px"
              alt="no hay imagen"
            />
            098 392 9452
          </p>
        </a>
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=59398 392 9452&text=Hola,%20¿ZooLogic%20necesito%20información?"
        >
          <p>
            <img
              class="img-fluid"
              src="../../../assets/img/what.png"
              style="width: 60px; height: 50px"
              alt="no hay imagen"
            />
            098 392 9452
          </p>
        </a>
      </div>
      <div class="col-md-6">
        <h6 class="text-uppercase font-weight-bold">Ubicación:</h6>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.761840022252!2d-103.37587958507328!3d20.679266086188832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae111b9f2e69%3A0x4821d23786ee2adc!2sAv.%20de%20las%20Am%C3%A9ricas%20%26%20Av.%20M%C3%A9xico%2C%20Ladr%C3%B3n%20de%20Guevara%2C%20Ladron%20De%20Guevara%2C%2044600%20Guadalajara%2C%20Jal.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sec!4v1601944138231!5m2!1ses!2sec"
          width="600"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
  </div>
</div>
